extends layout 
block content 
    div.header
        h1= title
        a.btn.btn-primary(href="/") Home
    form(method="POST", action="")
        div.form-group
            label(for="username") Email:
            input#username.form-control(type="text", placeholder="Enter your email...", name="username")
            br
            label(for="password") Password:
            input#password.form-control(type="password", placeholder="Enter your password...", name="password") 
        button.btn.btn-primary(type="submit") Login
    if messages.error 
        each message in messages.error 
            div.alert.alert-danger #{message}
    