#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  display: grid;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  border-radius: 0 50px;
  border: 1px solid;
  width: 15rem;
  height: 20rem;
  line-height: 1.2;
  margin: 0;
  padding: 1rem;
  text-align: center;

  :nth-child(3) {
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

.title {
  align-self: center;
  justify-self: center;
}

.editForm {
  display: flex;
  flex-direction: column;
}

.text-area {
  overflow: hidden;
  resize: none;
}

.addPost {
  align-self: center;
  &:hover {
    width: 60px;
    cursor: pointer;
  }
}

.createDialog {
  position: relative;
  bottom: 23rem;
  left: 6.5rem;
}

#commentID {
  width: 100%;
}

.comments {
  border: 1px solid;
}
